---
import '../styles/global.css';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Mi blog de Astro aprendizaje";
import Header from '../components/header.astro';
import Footer from '../components/footer.astro';
import Baselayout from '../layouts/baselayout.astro';
import BlogPost from '../components/blogpost.astro';
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
    <Baselayout pageTitle={pageTitle}>
    <h1>Mi sitio Astro</h1>
    <p>Aquí es donde publicaré sobre mi viaje de aprendizaje Astro.</p>
    <ul>
        {allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
    </ul>
    </Baselayout>
    <script>
        import "../scripts/menu.js";
      </script>
  </body>
</html>